@model OnlineHotelReservationSystem.Areas.Customer.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Reservation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fullname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fullname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phonenumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phonenumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Standard)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Standard)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deluxi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deluxi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Delux)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Delux)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
