

@using PagedList;
@using PagedList.Mvc;

@model IPagedList<OnlineHotelReservationSystem.Areas.Customer.Models.Reservation>

@{
    ViewBag.Title = "ReservationInfoList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

  
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<link href="~/Content/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="ReservList" style="font-family: Arial;">
    <h2 id="listMess"><u>ReservationInfoList</u></h2>
    

    <div style="position: absolute;top: 18%;left: 25%">
        
        @using (Html.BeginForm("ReservationInfoList","ReservationDeatils",FormMethod.Post))
        {
            
            <b style="color: #BDB76B;font-size: 26px;font-family: Rockwell;font-weight: bold">   <text>Search By Name</text>  </b>  <input type="text" name="searchName" style="height: 35px;" id="txtSearch"/>
       
            <input type="submit" value="" style="background:#8DB600;background-repeat: no-repeat;background-image:url(/Images/1405880706_search_48.png);height: 46px;width: 80px;position: absolute;top: 0%;right: -20%"/>
                                                  
        }
     
      
        </div>
    <div id="" style="font-family: Arial;font-weight: bold;font-size: 24px;color: white;padding: 10px;background: white;width: 120px;position: absolute;right: 20%;top: 18.5%">
            @Ajax.ActionLink("Load ALL","All",new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "divDis",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "Lo"
            })
    </div>
  
    <div id="divDis">
        


        <table id="ReseListTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Phonenumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Indate)
                </th>
                  <th>
                    @Html.DisplayNameFor(model => model.First().Outdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Standard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Suit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Deluxi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Delux)
                </th>
                <th>
                    Actions
                </th>
       
            </tr>
        
        

        

            @if (Model.Count() == 0)
            {
           
                <td colspan="8" style="font-family: Arial;font-size: 25px"> <img src="~/Content/icon/dialog_cancel.png" />Nothing Found  <h1 style="font-family: Arial;font-size: 22px;font-weight: bold;color:red">@TempData["Searchname"]</h1></td>
            }
    
               <div id="Lo" style="display: none;position: absolute;left: 50%;top: 14%">
    <img src="~/Content/icon/ajax-loader(2).gif" />
</div>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Phonenumber)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Indate)
                    </td>
                        <td >
                        @Html.DisplayFor(modelItem => item.Outdate)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Standard)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Suit)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Deluxi)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.Delux)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditList", new { id = item.Id }, new { @class = "lnkEdit" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "lnkDetail" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "lnkDelete" })
               
                
                    </td>
                </tr>
            }
        
        </table>
        <div id="" style="position: absolute;left: 40%;top: 70%">
                @Html.PagedListPager(Model, page => Url.Action("ReservationInfoList", "ReservationDeatils", new { page, @class = "hi" }))

        </div>
    

    </div>
 
   
        
  
</div>
    
<div id="dialog-alert" style="display: none">
<p>
@TempData["msg"]!
</p>
</div>
 
<div id="dialog-confirm" style="display: none">
<p style="font-family: Arial;font-size: 19px">
<span  style="float: left; margin: 0 7px 20px 0;"></span>

    <img src="~/Content/icon/1405880767_warning_48.png" />
    Are you sure to delete?
</p>
</div>
 
<div id="dialog-edit" style="display: none">
</div>
<div id="dialog-detail" style="display: none">
</div>



    
    
<script>
    $(document).ready(function () {
        $(".hi").hide();
        var url = "";
 
        if ('@TempData["msg"]' != "") {
            $("#dialog-alert").dialog('open');
        }

        $("#dialog-edit").dialog({
            title: 'Create User',
            autoOpen: false,
            resizable: false,
            width: 400,
            position:[370,20],
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            }
        });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            title: ' Delete Pannel',
            resizable: false,
            height: 210,
            width: 350,
            position: [370, 120],
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();

            },
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    window.location.href = url;
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-detail").dialog({
            title: 'Customer Details',
            autoOpen: false,
            resizable: false,
            width:500,
            position:[370,20],
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).load(url);
            },
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                }
            }
        });

    

        $(".lnkEdit").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Update Customer");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $(".lnkDelete").live("click", function (e) {
            // e.preventDefault(); use this or return false
           
            url = $(this).attr('href');
            $("#dialog-confirm").dialog('open');

            return false;
        });

        $(".lnkDetail").live("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $("#dialog-detail").dialog('open');

            return false;
        });

        $("#btnClose").live("click", function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });
    });
</script>
   
    
   <script>
       $(function () {

           $("#txtSearch").autocomplete({
               source: '@Url.Action("GetCustomers")', minLength: 2
        });

     });

</script> 
     
